%footer
  %body
    %nav
      .container
        %a{:href=>"home"}
          %span.home-button= t('app_title')
        %p= t('home.home.footer')
        %div
          %a{:href=>"contact"}
            %span.contact-button= t('home.contact.title')